<form class="mt-10 space-y-7" [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
  <div>
    <label for="email" class="mb-2 block text-sm font-semibold">Verification Code</label>
    <div class="relative">
      <i
        class="fas fa-shield-halved absolute left-4 top-1/2 -translate-y-1/2 text-gray-400"
        aria-hidden="true"
      ></i>
      <input
        id="resetCode"
        type="text"
        formControlName="resetCode"
        class="h-14 w-full rounded-xl text-center text-2xl border-2 tracking-[0.5em] border-gray-200 bg-white px-4 py-3 pl-12 text-slate-800 outline-none transition placeholder:text-slate-400 focus:border-primary-500 focus:ring-2 focus:ring-primary-100 font-mono"
        placeholder="••••••"
      />
    </div>
    @let resetCodeControl = verifyCodeForm.get('resetCode');
    @if (resetCodeControl?.invalid && submittedOnce()) {
      <p class="mt-2 text-sm text-red-600">
        @if (resetCodeControl?.hasError('required')) {
          Reset code is required
        }
        @if (resetCodeControl?.hasError('minlength')) {
          Reset code must be 6 characters long
        }
        @if (resetCodeControl?.hasError('maxlength')) {
          Reset code must be 6 characters long
        }
      </p>
    }
  </div>

  

  <button
    [disabled]="isSubmiting()"
    type="submit"
    class="inline-flex gap-2 h-14 w-full items-center justify-center rounded-xl bg-primary-600 px-4 text-lg font-semibold text-white transition hover:bg-primary-700 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-primary-100 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60"
  >
    @if (isSubmiting()) {
      <i class="fas fa-spinner fa-spin"></i>
      resetting password...
    } @else {
      Reset Password
    }
  </button>
</form>
