<form class="mt-10 space-y-7" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <div>
    <div class="relative mb-2">
      <label for="newPassword" class="block text-sm font-semibold text-slate-700"
        >New Password</label
      >
      <i class="absolute top-1/2 left-4 fas fa-lock text-slate-400" aria-hidden="true"></i>
      <input
        id="newPassword"
        [type]="isNewPasswordShown() ? 'text' : 'password'"
        formControlName="newPassword"
        class="h-full w-full px-4 py-3 pl-12 bg-transparent text-base text-slate-800 outline-none placeholder:text-slate-400 focus:border-primary-500 focus:ring-2 focus:ring-primary-100 transition-all rounded-xl border border-slate-300"
        placeholder="Enter new password"
      />
      <button
        (click)="showPassword('new')"
        type="button"
        class="absolute top-1/2 right-4 text-slate-400 hover:text-slate-600 cursor-pointer"
        aria-label="Toggle password visibility"
      >
        @if (isNewPasswordShown()) {
          <app-icon name="prevent-eye" color="text-gray-400 hover:text-gray-600"></app-icon>
        } @else {
          <app-icon name="eye" color="text-gray-400 hover:text-gray-600"></app-icon>
        }
      </button>
    </div>
    @let newPasswordControl = resetPasswordForm.get('newPassword');
    @if (newPasswordControl?.invalid && isSubmittedOnce()) {
      <p id="password-error" class="text-red-500 text-sm my-2">
        @if (newPasswordControl?.hasError('required')) {
          *Please enter a password
        } @else if (newPasswordControl?.hasError('minlength')) {
          *Password must be at least 8 characters long
        } @else if (newPasswordControl?.hasError('missingUpperCase')) {
          *Password must contain at least one uppercase letter
        } @else if (newPasswordControl?.hasError('missingLowerCase')) {
          *Password must contain at least one lowercase letter
        } @else if (newPasswordControl?.hasError('missingNumber')) {
          *Password must contain at least one number
        } @else if (newPasswordControl?.hasError('missingSpecialChar')) {
          *Password must contain at least one special character
        }
      </p>
    }

    <div class="relative">
      <label for="confirmPassword" class="block text-sm font-semibold text-slate-700"
        >Confirm Password</label
      >
      <i class="absolute top-1/2 left-4 fas fa-lock text-slate-400" aria-hidden="true"></i>
      <input
        id="confirmPassword"
        [type]="isConfirmPasswordShown() ? 'text' : 'password'"
        formControlName="confirmPassword"
        class="h-full w-full px-12 py-3 bg-transparent text-base text-slate-800 outline-none placeholder:text-slate-400 focus:border-primary-500 focus:ring-2 focus:ring-primary-100 transition-all rounded-xl border border-slate-300"
        placeholder="Confirm new password"
      />
      <button
        (click)="showPassword('confirm')"
        type="button"
        class="absolute top-1/2 right-4 text-slate-400 hover:text-slate-600 cursor-pointer"
        aria-label="Toggle password visibility"
      >
        @if (isConfirmPasswordShown()) {
          <app-icon name="prevent-eye" color="text-gray-400 hover:text-gray-600"></app-icon>
        } @else {
          <app-icon name="eye" color="text-gray-400 hover:text-gray-600"></app-icon>
        }
      </button>
    </div>
    @let confirmPasswordControl = resetPasswordForm.get('confirmPassword');
    @if (
      (resetPasswordForm.hasError('passwordMismatch') || confirmPasswordControl?.invalid) &&
      isSubmittedOnce()
    ) {
      <p class="my-2 text-sm text-red-600">
        @if (confirmPasswordControl?.hasError('required')) {
          *Confirm password is required
        }
        @if (resetPasswordForm.hasError('passwordMismatch')) {
          *Passwords do not match
        }
      </p>
    }
  </div>

  <button
    [disabled]="isSubmiting()"
    type="submit"
    class="inline-flex gap-2 h-14 w-full items-center justify-center rounded-xl bg-primary-600 px-4 text-lg font-semibold text-white transition hover:bg-primary-700 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-primary-100 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60"
  >
    @if (isSubmiting()) {
      <i class="fas fa-spinner fa-spin"></i>
      resetting password...
    } @else {
      Reset Password
    }
  </button>
</form>
